.BtnCreateBoard {
  color: #504789;
  background-color: white;
  border: none;
  display: flex;
  align-items: center;
  margin-top: 0.5em;
  width: 85%;
  border-radius: 0px 1em 1em 0px;
  cursor: pointer;
  padding: 0px;
}

.BtnCreateBoard:hover {
  color: white;
  background-color: #504789;
}

.textBtnCrearBoard {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0;
  text-align: left;
  padding: 0.5em 0px 0.5em 1em;
}

.backgroundForm {
  position: absolute;
  top: 50%;
  right: 50%;
  background-color: aqua;
}
